{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create' %}" method="POST">
      {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name = "title" class="form-control" id="title">
         </div>
         <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name = "description" class="form-control" id="description">
         </div>
         <div class="mb-3">
            <label for="imageurl" class="form-label">Image URL</label>
            <input type="text" name = "imageurl" class="form-control" id="imageurl">
         </div>
         <div class="mx-">
            <label for="price" class="form-label">Price</label>
            <input type="number" min="0" name = "price" class="form-control" id="price">
         </div>
         <div class = "from-group">
            <form action="/action_page.php">
                {%csrf_token %}
                <label for="category">Choose a Category:</label>
                <select name="category" id="category">
                    {% for cat in categories %}
                         <option value="{{ cat }}">{{ cat }}</option>
                    {% endfor %}
                </select>
         </div>
         <button type="submit" class="btn btn-success">Create New Listing!</button>
    </form>
{% endblock %}